<html>
  <body class="container">
    <!-- inline css is never a good thing -->
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="/static/expand.css" />
    <link rel="stylesheet" href="/static/accordion.css" />
    <center>
      <title>Drinks Cabin</title>
      <h1 class="title">Drinks cabin</h1>
    </center>
    <ul>
      <li><a href="/profile">Your profile</a></li>
      <li><a href="/commands">Commands</a></li>
      <li><a href="/shop">Items and Shop</a></li>
      <li><a href="/straws">Straws</a></li>
      <li><a href="/gambling">Gambling</a></li>
      <li><a href="/leaderboards">Leaderboards</a></li>
      
      <li><a href="/logout">Logout</a></li>
    </ul>
    <h2>Commands</h2>
    <a href="/work">Work</a>
    <br>
    <a href="/tips">Tip</a>
    <br>
    <a href="/daily">Daily</a>
    <script src="/static/expand.js"></script>
    <script src="/static/accordion.js"></script>
  </body>
</html>