<script>
  @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  body {
    font-family: 'Itim', cursive;
  }
  
</script>
<html>
  <body class="container">
    <!-- inline css is never a good thing -->
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="/static/expand.css" />
    <link rel="stylesheet" href="/static/accordion.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <center>
      <title>Drinks Cabin</title>
      <h1 class="title">Drinks cabin</h1>
      <h2><a href="/">Home</a></h2>
    </center>
    <h2>Commands</h2>
    <a href="/work">Work</a>
    <br>
    <a href="/tips">Tip</a>
    <br>
    <a href="/daily">Daily</a>
    <script src="/static/expand.js"></script>
    <script src="/static/accordion.js"></script>
  </body>
</html>