<script>
  @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  body {
    font-family: 'Itim', cursive;
  }
  
</script>
<html>
  <body >
    <link rel="stylesheet" href="/static/error.css" />
    <link rel="stylesheet" href="/static/expand.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <center>
      <title>Error</title>
      <p class="error">{{error}}</p>
      <br>
      <p>Click <a href="/">here</a> to go back to the main page</p>
    </center>
    <script src="/static/expand.js"></script>
  </body>