<link rel="stylesheet" href="/static/expand.css" />
{% if cookie == "False" %}

<div class="expandable section">
  <h2>Signup</h2>
	<div class="expand">
    <form action="{{ url_for('signup') }}" method="POST">
      <label for="names">Cabin name:</label><br>
      <input type="text" id="names" name="names" required><br><br>
      <label for="passwords">Password:</label><br>
      <input type="text" id="passwords" name="passwords" required><br><br>
      <label for="passwordagain">Password again:</label><br>
      <input type="text" id="passwordagain" name="passwordagain" required><br><br>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="expandable section">
  <h2>Login</h2>
	<div class="expand">
    <form action="{{ url_for('login') }}" method="POST">
      <label for="namelogin">Cabin name:</label><br>
      <input type="text" id="namelogin" name="namelogin" required><br><br>
      <label for="passwordl">Password:</label><br>
      <input type="text" id="passwordl" name="passwordl" required><br><br>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

{% else %}
<div class="expandable section">
  <h2>{{cookie}}</h2>
	<div class="expand">
    <h3>Stats</h3>
    <p>Money: ∂{{user['Money']}}</p>
    <p>Drinks: {{user['Drinks']}}</p>
    <h3>Menu</h3>
    {% for item in user['Menu'] %}
      {% if item['Name'] == "Water" %}
        {% set emoji = "🥤" %}
      {% elif item['Type'] == "Popular" %}
        {% set emoji = "🫖" %}
      {% elif item['Type'] == "Juice" %}
        {% set emoji = "🍹" %}
      {% elif item['Type'] == "Alcoholic" %}
        {% set emoji = "🍺" %}
      {% endif %}
      <p>{{emoji}} {{item['Name']}} : ∂{{item['Price']}}</p>
    {% endfor %}
    <h3>Cooldowns</h3>
    <p>Work: {{ready[0]}}</p>
    <p>Tips: {{ready[1]}}</p>
    <p>Overtime: {{ready[2]}}</p>
    <p>Daily: {{ready[3]}}</p>
  </div>
</div>

<div class="expandable section">
  <h2>Commands</h2>
	<div class="expand">
    <a href="/work">Work</a>
    <br>
    <a href="/tips">Tip</a>
    <br>
    <a href="/daily">Daily</a>
  </div>
</div>

<h2><a href="/logout">Logout</a></h2>

{% endif %}

<script src="/static/expand.js"></script>