<dl>
  <dt>Rule 1: Do not make scripts to gain money or other in game things</dt>
  <dd>This will result in an account deletion and ban</dd>
  <dt>Rule 2: Do not use any swear words or innapropriat references in cabin names or any other things</dt>
  <dd>This will result in a warning first, then an account deletion the second time</dt>
  <dt>Rule 3: Do not make any alt accounts to help your cabin grow</dt>
  <dd>This will result in all of your accounts getting deleted and a ban</dd>
  <dt>Rule 4: Do not abuse or exploit bugs</dt>
  <dd>This will result in an account deletion and ban</dd>
  <dt>Rule 5: Multiple people cannot share accounts</dt>
  <dd>This will result in an account deletion</dd>
</dl>
