<script>
  @import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
  body {
    font-family: 'Recursive', sans-serif;
  }
  
</script>
<html>
  <body class="container">
    <!-- inline css is never a good thing -->
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="/static/expand.css" />
    <link rel="stylesheet" href="/static/accordion.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
    <center>
      <title>Drinks Cabin</title>
      <h1 class="title">Drinks cabin</h1>
      <h2><a href="/">Home</a></h2>
    </center>
    <div class="expandable section">
      <h2>Straw Market Trend</h2>
      <div class="expand">
        <a href="/sm/Red">Red</a>
        <a href="/sm/Orange">Orange</a>
        <a href="/sm/Yellow">Yellow</a>
        <a href="/sm/Green">Green</a>
        <a href="/sm/Blue">Blue</a>
        <a href="/sm/Indigo">Indigo</a>
        <a href="/sm/Violet">Violet</a>
      </div>
    </div>

    <div class="expandable section">
      <h2>Buy Straws</h2>
      <div class="expand">
        <form action="{{ url_for('buystraw') }}" method="POST">
          <label for="number">Color:</label><br>
          <select id="color" name="color" required>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option value="Indigo">Indigo</option>
            <option value="Violet">Violet</option>
          </select>
          <br><br>
          <label for="amount">Amount:</label><br>
          <input type="number" id="amount" name="amount" required><br><br>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div class="expandable section">
      <h2>Sell Straws</h2>
      <div class="expand">
        <form action="{{ url_for('sellstraw') }}" method="POST">
          <label for="number">Color:</label><br>
          <select id="color" name="color" required>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option value="Indigo">Indigo</option>
            <option value="Violet">Violet</option>
          </select>
          <br><br>
          <label for="amount">Amount:</label><br>
          <input type="number" id="amount" name="amount" required><br><br>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div class="expandable section">
      <h2>Straws you own</h2>
      <div class="expand">
        {% if sms == False or sms['Colors'] == {} %}
          <p>You don't own any stocks!</p>
        {% endif %}
        {% for color in sms['Colors'] %}
          <p>{{color}}: {{sms['Colors'][color]}}</p>
        {% endfor %}
      </div>
    </div>
    <script src="/static/expand.js"></script>
    <script src="/static/accordion.js"></script>
  </body>
</html>